/* DAsbord */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

#navbarText {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 15px;
}

#navbar_page {
  width: 100%;
  z-index: 1000;
  top: 0;
  background-color: #0077b6;
  position: fixed;
}

#fysiko{
  margin-top: 20%;
}

#nav_item {
  margin-right: 20px;
  margin-left: 20px;
}


#nav_icon {
  font-size: 24px;
  color: #3d5afe;
  padding: 10px;
}



body{
  padding-left: 0px;
  margin-left: 0px;
  align-items: center;
  font-family: "Poppins", serif;
}


body, #sidebar{
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

#nav_item:hover {
  background-color: rgba(61, 90, 254, 0.1);
  border-radius: 10px;
}


#h1_cal1 {
  font-weight: 800;
}

#ul_calendar {
  padding-top:40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  list-style: none;
}

#calendar {
  display: flex;
  width: 10rem;
  height: 10rem;
  margin: 0.25rem;
  flex-flow: column;
  border-radius: 0.2rem;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 10px;

}

 #calendar, .card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-weight: 300;
  font-size: 0.8rem;
 }

time {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  font-weight: 500;
  font-weight: 800;
}

.today {
  background: #ffffff70;
}



